@font-face {
  font-family: OpenSans;
  src: url("assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

html {
  box-sizing: border-box; 
  scroll-behavior: smooth;  
}
*, *::before, *::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}


.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 450px;
  font-family: OpenSans;
  font-size: 18px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* Start header */
.header {
  background-color:#d2d2d2;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  margin: 8px 8px 3px 8px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  margin: 20px;
  padding: 0px;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}
.nav:last-child {
  margin-right: 20px;
}
.nav__item {
  margin: 5px;
  padding: 3px;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
}
.nav__item:last-child {
  margin-right: 0px;
}
.nav__link {
  font-weight: 600;
  color: #000000;
  transition: 0.2s;
}
a {
  color: #969696;
  transition: 0.2s;
}
a:hover {
  color: #ff0000;
}


/* Start main */
.main {
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  margin: 3px 8px;
}
.section {
  width: 50%;
  padding: 5px;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.main__title {
  display: flex;
  align-items: center;
  margin: 20px;
}
.main__title__inner {
  width: 50%;
}
.main__title__text {
  text-transform: uppercase;
  text-align: center;
}
.main__title__photo-wrapper {
  width: 200px;
  margin-left: 14vw;
}
.main__title__photo {
  max-width:100%;
  height:auto;
  border-radius: 50%;
}
.main__info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 20px;
}

.main__info__list {
  list-style:none;
  padding-left: 45px;
}

.main__info__item {
  font-weight: 600;
  vertical-align: middle;
  position: relative;
}
.main__info__item:before {
  content: '';
  position: absolute;
  vertical-align: middle;
  background-size: contain;
  background: no-repeat;
  height: 22px;
}
.main__info__item:nth-child(1):before {
  width: 18px;
  top: 4px;
  left: -31px;
  background-image: url('../rsschool-cv/assets/img/phone.svg');
}
.main__info__item:nth-child(2):before {
  width: 19px;
  top: 2px;
  left: -31px;
  background-image: url('../rsschool-cv/assets/img/mail.svg');
}
.main__info__item:nth-child(3):before {
  width: 23px;
  top: 2px;
  left: -32px;
  background-image: url('../rsschool-cv/assets/img/discord.svg');  
}
.main__info__item:nth-child(4):before {
  width: 18px;
  top: 3px;
  left: -30px;
  background-image: url('../rsschool-cv/assets/img/linkedin.svg');
}
.main__info__item a {
  font-weight: 400;
}
.code-example {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0;
  overflow-x: hidden;
  overflow-x: auto;
  border-radius: 8px;
  font-size: 14px;
}


/* Start footer*/
.footer {
  background-color:#d2d2d2;
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  margin: 3px 8px 8px 8px;
}
.footer__inner {
  display: flex;
  align-items: center;
  padding: 20px;
}
.github-link {
  width: 185px;
  height: 25px;
  padding: 0px 45px;
  background-image: url('../rsschool-cv/assets/img/github.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 2px;
}
.rss-logo {
  width: 121px;
  height: 45px;
  background-image: url('../rsschool-cv/assets/img/rss_js.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: auto;
}
.rss-logo:hover {
  transition: 0.2s;
  transform: scale(1.1);
}