@font-face {
  font-family: OpenSans;
  src: url("assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}
body {
  font-family: OpenSans;
  font-size: 18px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
* {
  box-sizing: border-box;
}
.header {
  background-color:rgb(211, 217, 214);
  padding: 20px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: 0.3s;
}
a:link, a:visited {
  text-decoration: none;  
  color: black;
  cursor: pointer;
  transition: color 0.7s;
}
.nav-item a:link, a:visited {
  font-weight: 600;
}
.nav-item a:hover, a:active {
  color: red;
  font-weight: 600;
}
html {
  scroll-behavior: smooth; 
}
.section-title {
  text-transform: uppercase;
  text-align: center;
}
.title {
  display: flex;
  align-items: center;
}
.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.midpoint {
  width: 240px;
  height: 240px;
  margin: auto;
}
.avatar {
  width: 240px;
  height: 240px;
  padding: 20px;
}
.contacts-item {
  font-weight: 600;
}
.contacts-item a {
  font-weight: 300;
  color: rgb(150, 150, 150);
}
.code {
  background-color: rgb(240, 240, 240);
  width: 455.25px;
}
.footer {
  background-color:rgb(210, 210, 210);
  padding: 20px;
}
.footer_content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.indent_right {
  margin-right: 20px;
}
.rss_logo {
  width: 121px;
  height: 45px;
  margin-left: auto;
  margin-right: 0;
}
.github_link {
  padding: 0px 20px;
}